Malakcorrection.json
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        208,
        32
      ],
      "id": "adca0773-e7f2-4965-a467-98b32fd5481c",
      "name": "Telegram Trigger",
      "webhookId": "0b5393cb-751e-46ea-a40b-dc39cae79e19",
      "credentials": {
        "telegramApi": {
          "id": "kzLE6FOMHja9Ix2e",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        336,
        192
      ],
      "id": "f72b032e-3f8c-4487-b31c-afd06ac53e61",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "JpDH8S0O1oVeohWX",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "أنت خبير في اللغة العربية. مهمتك الوحيدة هي تصحيح الأخطاء الاملائية و النحوية في النص الذي يرسله المستخدم. قم بارجاع النص المصحح فقط. دون اضافة اي شرح ,مقدمات, او علامات تنصيص.اذا كان النص سليما اعده كما هو."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        336,
        32
      ],
      "id": "fab377af-64ee-4385-9821-f4cf7e028c59",
      "name": "AI Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}{{ $json.output }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        592,
        32
      ],
      "id": "244236b4-46f0-481d-8ec9-6e1eb0c2fa2e",
      "name": "Send a text message",
      "webhookId": "8aef3e41-721b-40a4-82f7-d997a2f1dbe2",
      "credentials": {
        "telegramApi": {
          "id": "kzLE6FOMHja9Ix2e",
          "name": "Telegram account 3"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c21492990cf81c8e76ebd160fb4373307069f24be62dbdc914ac596a37e5fdbd"
  }
}
