My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "447ad426-4ddf-41f7-9c1e-6c35b277917e",
      "name": "Telegram Trigger",
      "webhookId": "8cb91b1a-8f39-410d-9293-f9d9524f96ee",
      "credentials": {
        "telegramApi": {
          "id": "Q9p6vB2Vr9rVtylk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.document.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        208,
        0
      ],
      "id": "63b09f3b-0bac-493c-a5be-b8a2acc30223",
      "name": "Get a file",
      "webhookId": "9d513abc-2d91-4982-953f-d43225516654",
      "credentials": {
        "telegramApi": {
          "id": "NacmnXMtzvrQ2CxR",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "5ea018cd-5a9c-41ec-89b2-ab0b8afcda9a",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=قم بتلخيص النص التالي بأسلوب واضح و مختصر في نقاط محددة و بدون استخدام نجوم أو علامات تنسيق معقدة: {{ $json.text }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        832,
        0
      ],
      "id": "936e8786-c01a-407b-92fd-4e3edac7c732",
      "name": "Basic LLM Chain",
      "retryOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        1072,
        112
      ],
      "id": "7c70950b-ce34-4ed0-9ec6-75d171e4e9bc",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "JpDH8S0O1oVeohWX",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1184,
        0
      ],
      "id": "a358a282-d4c1-453d-bd80-22cc9283f926",
      "name": "Send a text message",
      "webhookId": "44133222-90f4-4862-b3cf-819bbd7100ed",
      "credentials": {
        "telegramApi": {
          "id": "NacmnXMtzvrQ2CxR",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b7dde2d2-49a4-4cf8-ac55-44ca31840195",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c21492990cf81c8e76ebd160fb4373307069f24be62dbdc914ac596a37e5fdbd"
  },
  "nodeGroups": [],
  "id": "JMLaBW3FXfUyW3fQ",
  "tags": []
}